.landing-page_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 752px;
    margin: 0 auto;
    padding: 0 24px;
    text-align: center;
}
