@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,600|Roboto:400,500);@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,600|Roboto:400,500);@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,600|Roboto:400,500);@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,600|Roboto:400,500);@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,600|Roboto:400,500);@import url(https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css);@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,600|Roboto:400,500);.Header__header___3B-eq {
  background-color: black;
  color: white; }
  .Header__header___3B-eq .Header__hero-body___2Y21w {
    padding: 2rem 1.5rem; }
  .Header__header___3B-eq .Header__logo___Lug4G {
    font-family: "Raleway", sans-serif;
    color: white;
    font-size: 32px;
    letter-spacing: 1px;
    font-weight: 600; }
    .Header__header___3B-eq .Header__logo___Lug4G:hover {
      color: tomato; }
  .Header__header___3B-eq .Header__header_links___3rnyT {
    color: tomato;
    font-weight: bold; }
  .Header__header___3B-eq .Header__header_links___3rnyT:hover {
    text-decoration: underline;
    color: inherit; }
  .Header__header___3B-eq .Header__info-container___1I9VU {
    min-height: 72px;
    font-size: 0.9rem; }
.LargeTextInput__largetextinput___1tLSt {
  font-size: 32px;
  max-width: 80%;
  font-family: Roboto;
  padding: 16px 24px;
  border-radius: 15px;
  border: 2px #ccc solid;
  transition: box-shadow 0.1s ease, border-color 0.1s ease;
  text-align: center; }
  .LargeTextInput__largetextinput___1tLSt:hover {
    box-shadow: #ccc 0 0 4px 0; }
  .LargeTextInput__largetextinput___1tLSt:focus {
    box-shadow: lightcoral 0 0 8px 0;
    border-color: lightcoral; }
.LargeSelect__largeselect___3LAUt select {
  border-color: #ccc; }
  .LargeSelect__largeselect___3LAUt select:not(.LargeSelect__is-multiple___1QJny)::after {
    border-color: black; }
  .LargeSelect__largeselect___3LAUt select:hover:after {
    border-color: tomato; }
.LargeButton__largebutton___316Nw {
  font-size: 24px;
  background-color: black;
  color: white;
  border: none;
  font-family: Raleway;
  font-weight: 400;
  border-radius: 16px;
  letter-spacing: 1px;
  padding: 8px 32px;
  transition: box-shadow 0.1s ease;
  cursor: pointer; }
  .LargeButton__largebutton___316Nw:hover, .LargeButton__largebutton___316Nw:focus {
    box-shadow: #444 0 0 4px 0;
    color: tomato; }
  .LargeButton__largebutton___316Nw:active {
    transform: scale(0.98); }
.LandingPage__landing-page_header___3pyMV {
  font-family: Raleway;
  font-weight: 500;
  font-size: 64px;
  letter-spacing: 1px;
  color: black; }

.LandingPage__landing-page_description___2HYhm {
  font-family: Roboto;
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 24px; }
.Card__card___3BLZl {
  height: 100%;
  padding: 24px;
  cursor: pointer;
  transition: box-shadow 0.2s ease;
  border-radius: 4px; }
  .Card__card___3BLZl:hover {
    box-shadow: lightcoral 0 0 8px 0;
    border-color: lightcoral; }
  .Card__card___3BLZl:active {
    transform: scale(0.995); }
.ProductResults__query___3mPjg {
  color: slateblue; }
html {
  font-size: 16px; }

body {
  font-family: "Roboto", sans-serif; }

h1, h2, h3, h4, h5 {
  font-family: "Raleway", sans-serif; }

strong {
  color: inherit; }

.App__centered-block___33HZa {
  display: block;
  margin: 0 auto; }

.App__form_wrapper___35E4z {
  max-width: 752px;
  margin: 36px auto;
  padding: 0 24px;
  text-align: center; }

/*# sourceMappingURL=main.c20cc3ee.css.map*/