@import './styles/scss/theme.scss';

.header {
    background-color: black;
    color: white;
    .hero-body {
        padding: 2rem 1.5rem;
    }

    .logo {
        font-family: $family-heading;
        color: white;
        font-size: 32px;
        letter-spacing: 1px;
        font-weight: 600;
        &:hover{
            color: tomato;
        }
    }

    .header_links {
        color: tomato;
        font-weight: bold;
    }

    .header_links:hover {
        text-decoration: underline;
        color: inherit;
    }
    
    .info-container {
        min-height: 72px;
        font-size: 0.9rem;
    }
}
